


    <div style="display: inline;" class="header">
      <a href="/" >
        Online Voting Platform
      </a>
      </div>
      <div style="border-radius: 9px;margin-left:70rem;margin-top: 1rem;padding: 1rem; border: 3px solid aqua;text-decoration: none;color: aqua;background-color: black;">
        
            <a style="text-decoration: none; color: white;font-weight: bold;" href="/signout" >Sign out</a>

      </div>
   
