<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <style>
        body{
            /* font-size: 2rem; */
            font-family: 'PT Sans', sans-serif;
            font-weight: bold;
        }
        form{
            display: flex;
            flex-direction: column;
            border: 5px solid black;
            border-radius: 15px;
            margin-top: 1rem;
            padding: 2rem;
            color: black;
            background-color: white;
        }
        .h{
            border: 3px solid rgb(105, 128, 255);
            border-radius: 10px;
            text-align: center;
            margin-top: 2rem;
            padding: 1rem;
            background-color: aqua;
        }
        .h:hover{
            border-color: blue;
            background-color: rgb(113, 105, 255);
        }
        .mt{
            margin-top: 1rem;
        }
        input{
            padding: 1rem;
            border-radius: 8px;
            border: 3px solid blue;
           
        }
        btnn{
            padding: 1rem;
            border: 3px solid white;
        }
    </style>
</head>

<body >
    
        <div class="header">
          <a href="/" >
            Online Voting Platform
          </a>
        </div>
   
    <div >
        <div >
            <div>
                <% if (messages && messages.error && messages.error.length > 0) { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <p ><%= messages.error[i] %></p>
                    <% } %>
                <% } %>
            </div>
            <div >                
                <form action="/session" method="post" >
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <label class="h">Admin Login</label>
                    <div class="mt">

                    
                    <label  for="email" >E-mail ID</label>
                    <input id="email" name="email" type="email" placeholder="Enter Your Email ID"  required>
                    <br>
                </div>
                <div class="mt">

                
                    <label for="password" >Password</label>
                    <input id="password" name="password" type="password" placeholder="Enter Your Password"  required>
                </div>
                    <div class="mt">
                        Not a user ? <a href="/signup" >Sign Up</a>
                    </div>
                    <button class="mt" style="font-weight: bold;padding: 1rem; border-radius: 8px;background-color: black;color: white;border: 3px solid green;" type="submit" id="roundButton" >Login</button>
                </form>
            </div>
            
        </div>
    </div>
</body>
</html>